streamlit
pandas
numpy
seaborn
matplotlib
scikit-learn
plotly
shap
joblib
openai
langchain
langchain-community>=0.0.21
chromadb
tiktoken
unstructured
streamlit-echarts
beautifulsoup4
requests 
bs4
sentence-transformers
PyPDF2
pdfminer.six
streamlit-aggrid
reportlab
