streamlit
pandas
numpy
matplotlib
plotly
scikit-learn
joblib
seaborn
requests
beautifulsoup4
langchain
langchain-community
langchain-openai
langchain-classic
langchain-text-splitters
openai
chromadb
reportlab
pypdf
streamlit-aggrid
python-dotenv
protobuf==4.25.3